.cabecalho {
    background-color: #00ced1;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}

* {
    margin: 0;
    padding: 0;
}

.titulo-legal {
    font-family: 'Roboto Condensed', sans-serif;
}

.imagem-cabecalho {
    width: 5%
}

.cabecalho-lista-item a {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}

.escola {
    background-image: linear-gradient(#00ced1, #fcb606bf);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
}

.escola-texto {
    margin: 0 16px;
}

.escola-imagem {
    width: 30%;
}

.escola-div-conteudo {
    width: 50%;
}

.escola-titulo {
    padding: 24px 0;
}

.estudante-titulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 50px 0
}

.estudante-div {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.estudante-imagem {
    width: 150px;
}

.estudantes-todos {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

}

.estudante-nome {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rodape {
    background-color: #fcb606bf;
    text-align: center;
}

.rodape-titulo {
    padding: 12px 0;
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff
}

.slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #000;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked~img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

@media screen and (max-width: 390px) {
    .estudantes-todos {
        display: block;
    }
}

.formulario {
    background-color: rgb(26, 31, 48);
    padding: 20px;
    color: white;
}

.formulario p {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}

.field label,
.field span {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    width: 100%;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
    width: 270px;
}

.mensagem {
    line-height: 20px;
    padding: 10px;
    height: 110px;
    resize: none;
    width: 100%;
}

input[type=submit] {
    display: block;
    background-color: #ccc;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}