.cabecalho {
    background-color: #00ced1;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}

* {
    margin: 0;
    padding: 0;
}

.titulo-legal {
    font-family: 'Roboto Condensed', sans-serif;
}

.imagem-cabecalho {
    width: 5%
}

.cabecalho-lista-item a {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}






.escola {
    background-image: linear-gradient(#00ced1, #fcb606bf);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
}

.escola-texto {
    margin: 0 16px;
}

.escola-imagem {
    width: 30%;
}

.escola-div-conteudo {
    width: 50%;
}

.escola-titulo {
    padding: 24px 0;
}

.estudante-titulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 50px 0
}

.estudante-div {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.estudante-imagem {
    width: 150px;
}

.estudantes-todos {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

}

.estudante-nome {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rodape {
    background-color: #fcb606bf;
    text-align: center;
}

.rodape-titulo {
    padding: 12px 0;
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff
}

.slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #000;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked~img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

@media screen and (max-width: 390px) {
    .estudantes-todos {
        display: block;
    }
}

.formulario {
    background-color: rgb(194, 151, 34);
    padding: 20px;
    color: white;
}

.formulario p {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}

.field label,
.field span {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    width: 100%;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #ffffff;
    outline: none;
    width: 270px;
}

.mensagem {
    line-height: 20px;
    padding: 10px;
    height: 110px;
    resize: none;
    width: 100%;
}

input[type=submit] {
    display: block;
    background-color: #ffffff;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}

.botão1{
    padding: 40px 30px;
    border: radius 30px;
    box-shadow: 3px 3px 0 rgb(255, 255, 255);
    cursor: pointer;
}

.carrosel {
    text-align: center;
    background-color: rgb(255, 255, 255);
  }
  
  .slides-list {
    /* remove os estilos da lista */
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    width: 400%;
    position: relative;
    left: 0%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    --selected-item: 0;
    position: relative;
    left: calc(var(--selected-item) * -100%);
    transition: left 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
    --total-items: 6;
    width: calc(var(--total-items) * 100%);
  }
  
  .redondo {
    width: 50%;
  }
  
  .slide-show {
    overflow: hidden;
  }
  
  .slide-controller:nth-child(1):checked~.slide-show .slides-list {
    --selected-item: 0;
  }
  
  .slide-controller:nth-child(2):checked~.slide-show .slides-list {
    --selected-item: 1;
  }
  
  .slide-controller:nth-child(3):checked~.slide-show .slides-list {
    --selected-item: 2;
  }
  
  .slide-controller:nth-child(4):checked~.slide-show .slides-list {
    --selected-item: 3;
  }.carrosel {
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.slides-list {
  /* remove os estilos da lista */
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  width: 400%;
  position: relative;
  left: 0%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  --selected-item: 0;
  position: relative;
  left: calc(var(--selected-item) * -100%);
  transition: left 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  --total-items: 6;
  width: calc(var(--total-items) * 100%);
}

.redondo {
  width: 100%;
}

.slide-show {
  overflow: hidden;
}

.slide-controller:nth-child(1):checked~.slide-show .slides-list {
  --selected-item: 0;
}

.slide-controller:nth-child(2):checked~.slide-show .slides-list {
  --selected-item: 1;
}

.slide-controller:nth-child(3):checked~.slide-show .slides-list {
  --selected-item: 2;
}

.slide-controller:nth-child(4):checked~.slide-show .slides-list {
  --selected-item: 3;
}



    .carrossel__titulo {
        color: var(--laranja);
        background-color: var(--branco);
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
        padding: 1em 0 0.5em 0;
    }

    .swiper-slide img {
        width: 80%;
        border-radius: 25%;
    }

    .swiper-pagination {
        position: initial;
        margin: .5em 0;
        text-align: center;
        transition: .3s opacity;
        transform: translate3d(0, 0, 0);
        z-index: 10;
    }

    .card__descrição {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5em;
    }

    .card__botões {
        display: flex;
        justify-content: space-between;
    }

    .botões {
        display: flex;
    }

    .card {
        background: var(--branco);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin: 1em;
        padding: 1em;
    }

    .descrição__titulo {
        color: var(--laranja);
        font-weight: 700;
    }

    .descrição__titulo-livro {
        color: var(--azul);
        font-size: 18px;
        font-weight: 700;
        margin: 0.5em 0;
    }

    .descrição__texto {
        font-size: 14px;
    }

    .botões__item {
        margin: 0 0.5em;
    }

    .botões__ancora {
        background-color: var(--laranja);
        padding: 1em 2.2em;
        color: var(--branco);
        font-weight: 700;
        text-decoration: none;
    }

