.cabecalho{
background-color: #00ced1;
color: #ffffff;
display: flex;
justify-content: space-around;
align-items: center;
padding: 40px 0;
}

*{
    margin: 0;
    padding: 0;
}

.titulo-legal{
    font-family: 'Roboto Condensed', sans-serif;
}

.imagem-cabecalho{
    width: 5%
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola{
    background-image: linear-gradient( #00ced1, #fcb606bf);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 125px 0;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

.escola-imagem{
    width: 30%;
}

.escola-div-conteudo{
    width: 50%;
}

.escola-titulo{
    padding: 24px 0;
}

.estudante-titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.estudante-div{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.estudante-imagem{
    width: 150px;
}

.estudantes-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.estudante-nome{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rodape{
    background-color: #fcb606bf;
    text-align: center;
}

.rodape-titulo{
    padding: 12px 0;
    font-family: 'Roboto Condensed', sans-serif;
    color:#ffffff
}